<form method='post' action='/ejemplo5-formulario'> 
    <div>Nombre: <input name='frm_nombre' type='text'/></div> 
    <div>Codigo: <input name='frm_codigo' type='text'/></div> 
    <div><button type='submit'>Enviar</button></div> 
</form>