body {
    background: linear-gradient(to right top, #cf33ff 0%, #1e0ff5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    background-color: rgba(226, 212, 86, 0.877);
}

h1 {
    text-align: center;
}

#Parrafo1 {
    color: powderblue;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letra_verde {
    color: green;
}

.fondo_purpura{
    background-color: purple;

}

.bordered_list {
    border: 1px solid;
    border-width: medium;
}